{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Page
{% endblock %}

{% block body_block %}
    {% if category %}
{#        <h1>Add a Page to {{ category.name }}</h1>#}
        <form role="form" id="add_page" method="post" action="{% url 'rango:add_page' category.slug %}">
            <h2 class="form-signin-heading"><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></h2>
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br>
                {{ field }}<br>
            {% endfor %}
            <br>
{#            <input type="submit" name="submit" value="Add Page"/>#}
            <button class="btn btn-primary" type="submit" name="submit">
                Add Page
            </button>
        </form>
    {% else %}
        <p>The specified category does not exsit!</p>
    {% endif %}
{% endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango-Add Page</title>
</head>
<body>
    {% if category %}
        <h1>Add a Page to {{ category.name }}</h1>
        <form id="add_page" method="post" action="/rango/category/{{ category.slug }}/add_page/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Add Page"/>
        </form>
    {% else %}
        The specified category does not exsit!
    {% endif %}
</body>
</html>
-->