{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
    <h1 class="display-3">Rango says...</h1>
    {% if user.is_authenticated %}
        <h1>hey there {{ user.username }}</h1>
    {% else %}
        <h1>hey there parterner!</h1>
    {% endif %}
    </div>

    <div>
        <p>visit: {{ visits }} times</p><br>
    </div>

    <div>
        hey there partner!<br/>
        <strong>{{ boldmessages }}</strong>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            {% if categories %}
                <h4>Most Liked Categories:</h4>
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item"><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>

        <div class="col-lg-6">
            {% if pages %}
                <h4>Most Viewed Pages:</h4>
                <ul class="list-group">
                    {% for page in pages %}
                        <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no Pages present.</strong>
            {% endif %}
        </div>

    </div>

    <div>
        <img src="{% static "images/rango.jpg" %}"
                    alt="Picture of Rango"/>
    </div>

{% endblock %}




